# Dependency directories
node_modules/
jspm_packages/

# IDE & OS files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Build & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
*.zip
*.crx
